name: Build the README

on:
  push:
    branches: [ master ]
  schedule:
    # Runs at 4AM JST
    - cron: '0 6 * * 5'

jobs:
  build:
    name: Update README.md with Metrics
    # Create a Ubuntu Virtual Machine
    runs-on: ubuntu-latest
    # Checkout repository code
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      # Run anmol098/waka-readme-stats
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROFILE_VIEWS: "False"
          SHOW_OS: "False"
          SHOW_PROJECTS: "False"
